[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pytest = "*"
flake8 = "*"
pytest-coverage = "*"
dbus-python = "*"
ipdb = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.9"
